.container {
  padding: 20px;
  margin-left: 250px;
  cursor: pointer;
  background-color: #ff3058;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}

@media (max-width:600px){
  .container{
    margin-left: 100px;
  }
 
  }
  