

.imgContainer{
    width: 100%;
    height: 100px;
    position: relative;

} 

.img{
    object-fit: cover;
    width: 100%;
    height: 300px;
    margin-top: 5px;
    filter: grayscale(100%);

}

.imgText{
    position: absolute;
    top: 180px;
    left: 40px;
    padding: 30px;
    color: #ff3058;
    font-size: xx-large;
}

.textContainer{
    display: flex;
    gap: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.imgDesc{
font-size: xx-large;
text-align: center;
color: #ff839b;
}

.title{
    text-align: center;
}

.item{
    flex: 1;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.desc{
    font-size: 18px;
    font-weight: 350;
    text-align: justify;
}

.element{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    
}