.container{
   display: flex;
   align-items: center;
   gap: 50px;
   margin-bottom: 50px;
   margin-left: 50px; 
}

.image {
    object-fit: contain;
}


.mainTitle {
    font-size: 65px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    /*  initial color */
    color: #ff3058;
    /* Use animation for color transition */
    animation: colorTransition 3s infinite linear;
}

/* Define the color transition animation */
@keyframes colorTransition {
    0% {
        color: white ;
    }
    50% {
        color: #ff5979 ;
    }
    100% {
        color: #ff3058 ;
    }
}


.title{
    margin-bottom: 10px;
}

.desc{
    font-size: 18px;
    color: #999;
}