.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.image {
    object-fit: contain;
}


.mainTitle {
    font-size: 65px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
    /*  initial color */
    color: #ff3058;
    /* Use animation for color transition */
    animation: colorTransition 3s infinite linear;
}

/* Responsive styles for mobile */
@media (max-width: 600px) {
    .container {
        flex-direction: column-reverse;
        /* margin-left: 0; */
    }

    .image {
        max-width: 300px; /* Adjust the maximum width as needed */
    }
}


/* Define the color transition animation */
@keyframes colorTransition {
    0% {
        color: white ;
    }
    50% {
        color: #ff5979 ;
    }
    100% {
        color: #ff3058 ;
    }
}


.title{
    margin-bottom: 10px;
}

.desc{
    font-size: 18px;
    color: #999;
}