/* page.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
  }
  
  .title {
    font-size: 65px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 45px;
    /*  initial color */
    color: #ff3058;
    /* Use animation for color transition */
    animation: colorTransition 3s infinite linear;
}

/* Define the color transition animation */
@keyframes colorTransition {
    0% {
        color: white ;
    }
    50% {
        color: #ff5979 ;
    }
    100% {
        color: #ff3058 ;
    }
}
  .content {
    display: flex;
    flex-direction: row; /* Display image and form side by side */
    gap: 50px;
    align-items: flex-start; /* Align items at the top */
    justify-content: center;
    width: 100%;
    max-width: 950px; /* Adjust the maximum width as needed */
  }
  
  .imgContainer {
    margin-right: 30px; /* Adjust the margin as needed */
    flex: 1; /* Allow the image to grow and occupy available space */
  }
  
  .image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    animation: move 3s infinite ease alternate;
  }

  @keyframes move {
    from{
        transform: translate(-15px);
    }
  }
  
  .form {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 500px; /* Adjust the maximum width as needed */
  }
  
  .input,
  .textArea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px
  }
  .button{
    margin-top: 20px;
    margin-left: -90px;
    background-color: #ff3058;
  }
  
  @media(max-width:600px){
    .content{
      flex-direction: column;
    }
  }