.mainTitle {
    font-size: 65px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    /*  initial color */
    color: #ff3058;
    /* Use animation for color transition */
    animation: colorTransition 3s infinite linear;
}

/* Define the color transition animation */
@keyframes colorTransition {
    0% {
        color: white ;
    }
    50% {
        color: #ff5979 ;
    }
    100% {
        color: #ff3058 ;
    }
}
.items{
    display: flex;
    gap: 50px;
    margin-top: 40px;
}
.items2{
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.item{
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    position: relative;
    margin-left: 100px;
    background-size: cover !important;
}


.item1{
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    position: relative;
    margin-left: 100px;
    background-size: cover !important;
}

.item2{
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 315px;
    height: 400px;
    position: relative;
    margin-left: 100px;
    background-size: cover !important;
}

.item:nth-child(1) {
    background: url("/Choose1.jpg");
}
.item:nth-child(2) {
    background: url("/Choose2.jpg");
}
.item:nth-child(3) {
    background: url("/Choose3.jpg");
}
.item1:nth-child(1) {
    background: url("/Choose4.jpg");
}
.item1:nth-child(2) {
    background: url("/Choose5.jpg");
}
.item1:nth-child(3) {
    background: url("/Choose6.jpg");
}
.item2:nth-child(1) {
    background: url("/Choose7.jpg");
}
.item2:nth-child(2) {
    background: url("/Choose8.jpg");
}
.item2:nth-child(3) {
    background: url("/Choose9.jpg");
}

