.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 60px; */
    padding-bottom: 0 20px;
}

.logo {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.links{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.links a {
    text-decoration: none;
    color: #f9f7f7; /* Set your default link color */
}

.links :hover {
    color: #ff3058; 
    text-decoration: underline;
    text-underline-offset:5px;

}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .logo {
        margin-bottom: 10px;
    }

    .links {
        flex-direction: column;
        gap: 8px;
    }
}