.container {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px; /* Corrected padding declaration */
}

.logo {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.links {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 600;
}

.links a {
    text-decoration: none;
    color: #f9f7f7; /* Set your default link color */
}

.links a:hover {
    color: #ff3058;
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        /* justify-content: space-between; */
        /* align-items: center; */
        height: auto;
        gap: 10px;
        padding-top:10px ;
        padding-bottom: 0px;
    }

    .logobar{
flex-direction: row;
justify-content: space-between;
display: flex;
width: 100%;
align-items: center;
    }

    .logo {
        margin-bottom: 20px;
    }

    .links {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3.5px;
        background-color: #ff3058;
        margin: 5px 0;
        transition: 0.3s;
    }

    .open {
        transform: rotate(-1deg) translate(-5px, 6px);
    }

    .mobileMenu {
        text-decoration: none;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        /* background-color: #fff;  */
        transition: transform 0.3s ease-in-out 0.3s;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(245, 241, 241, 0.1);
    }
.mobileMenu .open{
    transform: translateY(0);
}
    .mobileMenu a {
        text-decoration: none;
        color: #000; /* Set your mobile menu link color */
        margin-bottom: 10px;
    }
}
