/* testimonial.module.css */
.container {
    text-align: center;
    margin: 20px;
  }
   
  .card {
    width: calc(100% - 2px); /* Ensure each card takes one-third of the container width */
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
    flex-direction: row;
    display: flex;
    animation: slideIn 8s linear infinite;
  }
 
  @keyframes slideIn {
    from {
      transform: translateX(100%); /* Start from the right */
    }
    to {
      transform: translateX(0); /* Move to the original position */
    }
  }

  