/* Mobile First Styles */
.mainTitle {
    font-size: 3rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #ff3058;
    animation: colorTransition 3s infinite linear;
}

@keyframes colorTransition {
    0% {
        color: white ;
    }
    50% {
        color: #ff5979 ;
    }
    100% {
        color: #ff3058 ;
    }
}

.selectTitle {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.title{
color: #000;
}

.items, .items2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 35px;
    align-items: center;
}

.item {
    width: 100%;
    box-sizing: border-box;
    border: 3px solid #ff3058;
    border-radius: 10px;
    height: 400px;
    margin: 0 0 20px 0;
}
.item:hover{
    transform: translate3d(0,-1px,0) scale(1.1);
}

.item:nth-child(1) {
    background: url("/Salori.jpg") center/cover;
}
.item:nth-child(2){
    background: url("/Govindpur.jpg") center/cover;
}
.item:nth-child(3) {
    background: url("/Baghara.jpg") center/cover;
}




/* Media Query for Tablets and Larger Screens */
@media (min-width: 600px) {
    .mainTitle {
        font-size: 4rem;
    }

    .items, .items2 {
        flex-direction: row;
    }

    .item {
        width: 45%; /* Adjust the percentage as needed */
        margin: 0 2.5%;
    }
}

/* Media Query for Larger Screens */
@media (min-width: 1024px) {
    .mainTitle {
        font-size: 5rem;
    }

    .item {
        width: 30%; /* Adjust the percentage as needed */
        margin: 0 1.5%;
    }
}
