
.mainTitle {
    font-size: 65px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    /*  initial color */
    color: #ff3058;
    /* Use animation for color transition */
    animation: colorTransition 3s infinite linear;
}

/* Define the color transition animation */
@keyframes colorTransition {
    0% {
        color: white ;
    }
    50% {
        color: #ff5979 ;
    }
    100% {
        color: #ff3058 ;
    }
}
    
    .selectTitle {
        /* margin: 20px 0px; */
        /* margin-left: 440px; */
        margin-bottom: 50px;
        font-size: 40px;
        text-align: center;
    }
    
    .items{
        display: flex;
        gap: 50px;
    }
    .items2{
        display: flex;
        gap: 50px;
        margin-top: 20px;
    }
    
    .item{
        border: 5px solid #bbb;
        border-radius: 5px;
        width: 300px;
        height: 400px;
        position: relative;
        margin-left: 100px;

    }
    .item:nth-child(1) {
        background: url("/Salori.jpg");
    }
    .item:nth-child(2) {
        background: url("/Rajapur.jpg");
    }